doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Hey NSA! - A Chrome Extension to broadast your browser activity
    meta(name='description', content='A Chrome Extension to broadast your browser activity')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/style.css')
  body
    script(type='text/javascript').
      var cameras = !{cameras}
    script(data-main="/js/main", src="js/require.js")